.dk-currency-converted {
  font-size: 1.6rem;
  color: #3f4064; /* Blue text */
  margin-top: 4px;
  font-weight: bold;
  width: 100%;
  text-align: right;
  direction: ltr;
  flex-basis: 100%; 
  order: 99;
}

/* Specific styling for the crossed-out undiscounted prices */
.dk-currency-no-discount {
  font-size: 1rem;
  color: #c0c2c5; /* Gray text */
  font-weight: 500;
}
